body {
  background-color: #303338;
}

.container {
  color: #4dd88e;
  text-align: center;
  margin-top: 1rem;
}

#convertCurrency {
  width: 100%;
  color: #303338;
  background-color: #4dd88e;
  font-weight: 900;
}

.form-control {
  background-color: #ececec;
  color: #303338;
  font-weight: 900;
  font-family: Helvetica;
}

.form-select {
  background-color: #ececec;
  color: #303338;
  font-weight: 900;
  font-family: Helvetica;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 900;
  font-size: 3rem;
}

#showConvertedCurrency {
  font-family: 'Courier New', Courier, monospace;
  color: #ececec;
}

#showUsDollarAmount {
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
  font-weight: 500;
}

/* media queries */

/* For large desktops and below */

@media only screen and (max-width: 1326px) {
  h1 {
    font-size: 3rem;
  }

  .form-control, .form-select {
    font-size: 1rem;
  }

  #convertCurrency {
    font-size: 1.1rem;
  }

  #showConvertedCurrency, #showUsDollarAmount {
    font-size: 1.75rem;
  }
}

@media only screen and (max-width: 1200px) {
  h1 {
    font-size: 2.75rem;
  }

  .form-control, .form-select {
    font-size: 1rem;
  }

  #convertCurrency {
    font-size: 1.1rem;
  }

  #showConvertedCurrency, #showUsDollarAmount {
    font-size: 1.8rem;
  }
}

/* For tablets and small desktops */
@media only screen and (max-width: 992px) {
  h1 {
    font-size: 2.75rem;
  }

  .form-control, .form-select {
    font-size: 1rem;
  }

  #convertCurrency {
    font-size: 1rem;
  }

  #showConvertedCurrency, #showUsDollarAmount {
    font-size: 1.7rem;
  }
}

/* For tablets and below */
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 2.35rem;
  }

  .form-control, .form-select {
    font-size: 0.95rem;
  }

  #convertCurrency {
    font-size: 1rem;
  }

  #showConvertedCurrency, #showUsDollarAmount {
    font-size: 1.6rem;
  }
}

/* For small phones */
@media only screen and (max-width: 576px) {
  h1 {
    font-size: 2.4rem;
  }

  #showConvertedCurrency, #showUsDollarAmount {
    font-size: 1.5rem;
  }

  .form-control, .form-select {
    font-size: 0.95rem;
  }

  #convertCurrency {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 481px) and (max-width: 531px) {
  h1 {
    font-size: 2.15rem;
  }

  .form-control, .form-select {
    font-size: 0.85rem;
  }

  #convertCurrency {
    font-size: 0.95rem;
  }

  #showConvertedCurrency, #showUsDollarAmount {
    font-size: 1.5rem;
  }
}

/* For very small devices (480px and below) */
@media only screen and (max-width: 480px) {
  h1 {
    font-size: 2.1rem;
  }

  #showConvertedCurrency, #showUsDollarAmount {
    font-size: 1.4rem;
  }

  .form-control, .form-select {
    font-size: 0.85rem;
  }

  #convertCurrency {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 430px) {
  h1 {
    font-size: 1.65rem;
    line-height: 1.2;
  }

  .form-control, .form-select {
    font-size: 0.75rem;
  }

  #convertCurrency {
    font-size: 0.9rem;
  }

  #showConvertedCurrency, #showUsDollarAmount {
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 360px) {
  h1 {
    font-size: 1.585rem;
    line-height: 1.2;
  }

  .form-control, .form-select {
    font-size: 0.7rem;
  }

  #convertCurrency {
    font-size: 0.8rem;
  }

  #showConvertedCurrency, #showUsDollarAmount {
    font-size: 1.25rem;
  }

}

@media only screen and (max-width: 344px) {
  h1 {
    font-size: 1.5rem;
    line-height: 1.2;
  }

  .form-control, .form-select {
    font-size: 0.65rem;
  }

  #convertCurrency {
    font-size: 0.8rem;
  }

  #showConvertedCurrency, #showUsDollarAmount {
    font-size: 1.25rem;
  }

}